# Rename Columns

## Input parameters

pandas.DataFrame object
sequence
## Task
Your function must return a new pandas.DataFrame object with same data than the original input but now its column names are the elements of the sequence. You must not modify the original input.

The number of columns of the input will always be equal to the size of the sequence.

```

   
Examples
   0  1  2
0  1  2  3
1  4  5  6

names = ['A', 'B', 'C']
   A  B  C
0  1  2  3
1  4  5  6


```

In [35]:
#author: cubeconvict

import pandas as pd

def rename_columns(df, names):  
    newdf = df.copy()
    newdf.columns=names
    return newdf

In [36]:
mydf = pd.DataFrame({"0": [1, 2, 3], "1": [4, 5, 6]})
mydf.head()

   0  1
0  1  4
1  2  5
2  3  6

In [37]:
names = ('A','B')
rename_columns(mydf,names)
mydf.head()

   0  1
0  1  4
1  2  5
2  3  6

In [38]:
names = ('A','B')
#mydf.rename(columns={'A','B'})
mydf.columns = names
mydf.head()

   A  B
0  1  4
1  2  5
2  3  6